<!-- <input type="text" name="input-content" id="input-content" placeholder="Add Post" [(ngModel)]="newPost.content" />  -->
<div>
    <form>
      <textarea
        name="content"
        placeholder="make a comment..."
        rows="{3}"
        [(ngModel)]="newComment.content"
      >
   Add new comment </textarea
      >
      <div>
        <button type="button" (click)="addComment()">Add</button>
        <button type="button" (click)="resetComment()">Reset</button>
      </div>
    </form>
  </div>
  