<div class="row m-5 g-0">
    <div class="col-md-1"></div>
    <div class="col-md-10 border border-danger p-5">
        <div class="d-flex w-100 justify-content-between" *ngIf="post.user != null">
            <h4 class="mb-5">{{post.user.firstName}} {{post.user.lastName}}</h4>
            <small>{{post.time}}</small>
        </div>
        <h5 class="mb-1">{{post.content}}</h5>
        <div>
            <p style="float:right;">PLACEHOLDER ZA RATING, BROJ PREGLEDA I BROJ KOMENTARA</p>
        </div> 
    </div>
    <div class="col-md-1"></div>
</div>
<hr>
<div class="row mt-5 g-0">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <h1>Comments:</h1>
        <div class="list-group">
            <a *ngFor="let comment of comments" class="list-group-item flex-column align-items-start my-3 border border-primary">
              <app-comment [comment]="comment"></app-comment>
            </a>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>