<nav class="navbar navbar-dark bg-dark navbar-expand">
    <div class="col-md-1"></div>
    <div class="navbar-nav col-md-10 mt-1">
      <a class="nav-item nav-link" [routerLink]="['/home']">Home</a>
      <a class="nav-item nav-link" *ngIf="loggedIn == true" [routerLink]="['/posts']">My Posts</a>
      <a class="nav-item nav-link" *ngIf="loggedIn == true" [routerLink]="['/comments']">My Comments</a>

      <a class="nav-item nav-link ms-auto" role="button" *ngIf="loggedIn == false" (click)="toggleLoginComponent()">Log in</a>
      <a class="nav-item nav-link ms-auto" role="button" *ngIf="loggedIn == true" (click)="logout()">Log out</a>
    </div>
    <div class="col-md-1"></div>
  </nav>
  
  <app-login *ngIf="showLogin == true" (onLogInClick)="login()" (onCancelClick)="hideLoginModal()"></app-login>

  <div class="d-flex flex-column min-vh-100">
    <router-outlet></router-outlet>
  </div>
  
  <footer class="flex-shrink-0 py-4 bg-dark text-white-50 mt-auto">
    <div class="container text-center">
      <small>Sioux team - Go4Code2022 &copy;</small>
    </div>
  </footer>